@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:wght@200;300;400;500&family=Unbounded:wght@600&display=swap');


body {
  background-color: #ffffff; /*Color del fondo */
  margin: 0;
padding: 0;
}
.container {
display: flex;
padding: 62px;
padding-left: 191px;
}

.menu {
text-align: right;
padding-left: 863px;

}
.menu li a:hover {
  color: var(--hover-link-color, #1F1534);
  font-size: var(--hover-link-size, 18px);
  font-family: var(--hover-link-font, "Mulish");
  font-weight: var(--hover-link-weight, 700);
}

.menu ul {
list-style-type: none;
margin: 0;
padding: 0;
display: inline-block; /* Mostrar el menú en línea */
}

.menu li {
margin-right: 10px;
display: inline-block; /* Mostrar los elementos de lista en línea */
}

.menu li a {
text-decoration: none;
color: var(--link-color, #1F1534); /* Cambiar el color de los enlaces */
font-size: var(--link-size, 18px); /* Cambiar el tamaño de fuente de los enlaces */
font-family: 'Mulish', sans-serif;
opacity: 0.5;
}

.content {
padding: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Unbounded:wght@600&display=swap');




.circle {
  width: 41px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #458FF6;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 26px;
  font-family: "Mulish";
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.centered-text {
  line-height: 41px; /* Igual a la altura del círculo */
}

.logo {
  padding-left: 12px;
  line-height: 41px; 
  color: #233348;
font-size: 24px;
font-family: "Mulish";
font-weight: 700;
display: inline-block; 
}

/*Esto es para la imagend e los circulitos*/

.circulitos{
  padding-left: 10.56px;

}

/*---Cabecera----*/
.cabecera {
  color: #000;
  font-size: 48px;
  font-family: "Mulish";
  font-weight: 700;
  line-height: 56px;

}
.textocabecera{
  color: #7D7987;
font-size: 21px;
font-family: "Mulish";
font-weight: 300;
line-height: 32px;
}
.box{
 
  width: 360px;
  height: 112px;
  background-color: transparent;
  border: 0px solid #000; /* Borde opcional */
  padding-left: 190px;
}
.box2{
  position: absolute;
  width: 461px;
  height: 96px;
  background-color: transparent;
  border: 0px solid #000; /* Borde opcional */
  padding-left: 190px;
  padding-top:25px ;

}
.imagecabecera{
  padding-left: 744px;
margin-top: -375px;
}

/*Cuerpo de la página*/

.cuerpo{
  padding-top: 400px;
}

.Capital{
text-align: center;
  color: #000;
font-size: 36px;
font-family: "Mulish";
font-weight: 700;
line-height: 56px;
margin-top: 192px;
}
.rectangulo {
    width: 56px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #000;
    margin-top:26px ;
    
  
}
.letter{
  color: #7D7987;
text-align: center;
font-size: 18px;
font-family: Mulish;
font-weight: 300;
line-height: 30px;
}
.layout{
  margin-top: 33px;
  display: flex;
width: 952px;
flex-direction: column;
flex-shrink: 0;
}
/*cajitas */
.table-container {
  margin-top: 80px;
  width: 350px;
  height: 354px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
  display: inline-block;
 margin-left: 400px;
}
.table-container2 {
  margin-top: 80px;
  width: 350px;
  height: 354px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
  display: inline-block;
 margin-left: 32px;
}
/*font de las cajas*/
.capcajas{
  color: #000;
font-size: 24px;
font-family: Mulish;
font-style: normal;
font-weight: 700;
line-height: 56px;
}
.letcajas{
  color: #7D7987;
font-size: 16px;
font-family: Mulish;
font-style: normal;
font-weight: 300;
line-height: 28px;
display: flex;
width: 266px;
flex-direction: column;
flex-shrink: 0;
padding-left: 39px;
}

/*--Fin de las cajas--*/

/***---------BOTONES--------***/

.boton{
  border-radius: 55px;
  background: #458FF6;
  width: 200px;
  height: 56px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 18px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 550;
  line-height: 60px;
  text-decoration: none;
  margin-top: 45px;
  transition: background-color 0.3s ease;

}
.boton:hover {
  background-color: rgba(69, 143, 246, 0.5);
}
.boton2{
  width: 200px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 55px;
  border: 1.4px solid #458FF6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 18px;
  font-family: Mulish;
  font-weight: 700;
  line-height: 60px;
  text-decoration: none;
  margin-top: 69px;
}
.boton-text{
  color: #458FF6;
  font-size: 18px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  text-decoration: none;
}
.boton3{
  width: 200px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 55px;
  border: 1.4px solid #458FF6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 18px;
  font-family: Mulish;
  font-weight: 700;
  line-height: 60px;
  text-decoration: none;
  margin-left: 1027px;
}

.descargar{
  width: 200px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 55px;
  border: 1.4px solid #458FF6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 18px;
  font-family: Mulish;
  font-weight: 700;
  line-height: 60px;
  text-decoration: none;
  margin-left: 380px;
}
.flecha{
  margin-left: 14.79px;
}

.vertodo{
  width: 200px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 55px;
  border: 1.4px solid #458FF6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 18px;
  font-family: Mulish;
  font-weight: 700;
  line-height: 60px;
  text-decoration: none;
  margin-top: 69px;
}
.boton-text2{
  color: #458FF6;
  font-size: 18px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  text-decoration: none;
}
/* ----FIN BOTONES----*/


/*imagenes LANDING PAGE*/
.image1{
  margin-left: 300px;
  margin-top: 220px;
}
.image2{
  margin-left: 871px;
  margin-top:-350px;
}



/*FIN IMAGENES LANDING PAGE*/

.descripcion{
  display: flex;
width: 481px;
flex-direction: column;
flex-shrink: 0;
color: #000;
font-size: 36px;
font-family: Mulish;
font-style: normal;
font-weight: 700;
line-height: 56px;
margin-left: 1027px;
margin-top: -400px;
}
.rectangulo2 {
  width: 56px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #000;
  margin-left:1027px ;
}

.descripcionx{
  color: #7D7987;
font-size: 18px;
font-family: Mulish;
font-style: normal;
font-weight: 300;
line-height: 30px;
display: flex;
width: 450px;
flex-direction: column;
flex-shrink: 0;
margin-left: 1027px;

}

.descripciony{
  display: flex;
width: 481px;
flex-direction: column;
flex-shrink: 0;
color: #000;
font-size: 36px;
font-family: Mulish;
font-style: normal;
font-weight: 700;
line-height: 56px;
margin-left: 380px;
margin-top: 265px;
width: 254px;
  height: 96px;
}
.rectangulo3 {
  width: 56px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #000;
  margin-left:382px ;
}
.descripciong{
  color: #7D7987;
font-size: 18px;
font-family: Mulish;
font-style: normal;
font-weight: 300;
line-height: 30px;
display: flex;
width: 450px;
flex-direction: column;
flex-shrink: 0;
margin-left: 380px;

}



/*--CUSTOMERS--*/
.bluebox{
  width: 1120px;
    height: 425px;
    flex-shrink: 0;
    border-radius: 24px;
    background: linear-gradient(223deg, #67C3F3 0%, #5A98F2 100%);
    margin-left: 380px;
    margin-top:266px ;
}
.puntos{
  padding-left: 310px;
  margin-top:  00px;
  
}

.capbox{
  color: #FFF;
font-size: 36px;
font-family: "Mulish";
font-style: normal;
font-weight: 500;
line-height: 48px;
padding-top: 64px;
text-align: center;

}
.name{
  color: #FFF;
  font-size: 22px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
margin-left: 320px;
margin-top: -100px;
}
.subname{
  color: #FFF;
  font-size: 18px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  line-height: 48px;
margin-left: 320px;
margin-top: -35px;
}
.comment{
  display: flex;
width: 420px;
flex-direction: column;
flex-shrink: 0;
display: flex;
width: 420px;
flex-direction: column;
flex-shrink: 0;
color: rgba(255, 255, 255, 0.90);
font-size: 19px;
font-family: Mulish;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-left:582px ;
margin-top: -130px;

}
.rectangulo4 {
  width: 56px;
height: 2px;
flex-shrink: 0;
border-radius: 6px;
background: #FFF;

}
.avatar{
  padding-left: 150px;
  padding-top:40px ;
}

/**FIN TABLA CUSTOMERS*/

/*BLOG ULTIMOS ARCHIVOS*/
.BLOG{
  margin-top: 80px;
  width: 350px;
  height: 512px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
  display: inline-block;
 margin-left: 350px;
 border-radius: 20px;
background: #FFF;
/* drop shadow */
box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
}

.blogcapital{
  color: #000;
font-size: 21px;
font-family: Mulish;
font-style: normal;
font-weight: 700;
margin-left: 33px;
line-height: 32px;
width: 251px;
}
.blogdesc{
  color: #7D7987;
  font-size: 16px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
width: 251px;
margin-left: 33px;
}

.BLOG2{
  margin-top: 80px;
  width: 350px;
  height: 512px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
  display: inline-block;
 margin-left: 4px;
 border-radius: 20px;
 margin-left: 33px;
background: #FFF;
/* drop shadow */
box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
}
.read{
  color: #4089ED;
font-size: 17px;
font-family: Mulish;
font-style: normal;
font-weight: 500;
line-height: 28px;
margin-left: 33px;
display: flex;
width: 266px;
flex-direction: column;
flex-shrink: 0;
display: inline-block;
}

 .Footer{
  margin-top: 201px;
  width: 1600px;
height: 432px;
width: 100%;
flex-shrink: 0;
background: linear-gradient(212deg, #67C3F3 0%, #5A98F2 100%);
padding-top: 123px;
 }
 .Fontfooter{
color: #FFF;
font-size: 18px;
font-family: Mulish;
font-style: normal;
font-weight: 300;
line-height: 28px;
display: flex;
width: 391px;
flex-direction: column;
flex-shrink: 0;
 }

  .footerXXS{
    color: #FFF;
    font-size: 16px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    display: flex;
    width: 391px;
    flex-direction: column;
    flex-shrink: 0;
     }

 
 .estribo{
  margin-top:-40px;
  margin-left: 190px;
 }
 .estribo2{
  margin-top:20px;
  margin-left: 190px;
 }
 .estribo3{
  margin-left: 850px;
 margin-top: -250px;
 }
 .estribo4{
  margin-left: 850px;
  margin-top:20px ;
 }

 .estribo5{
  margin-left: 1200px;
  margin-top: -270px;
 }
 .estribo6{
  margin-left: 1200px;
  margin-top: 20px;
 }
 .estribo7{
  margin-left:1520px;
  margin-top: -268px;
 }
 .estribo8{
  margin-left: 1520px;
  margin-top: 20px;
 }
 
 .capitalfooter{
  color: #FFF;
font-size: 20px;
font-family: Mulish;
font-style: normal;
font-weight: 700;
line-height: 60px;
 }
 
 
.circlefooter {
  width: 41px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #fdfdfd;
  justify-content: center;
  align-items: center;
  color: #458FF6;
  font-size: 26px;
  font-family: "Mulish";
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logofooter {
  padding-left: 12px;
  line-height: 41px; 
  color: #ffffff;
font-size: 24px;
font-family: "Mulish";
font-weight: 700;
display: inline-block; 
}